  @media screen and (min-width: 1024px){
#grid-container {
	display: grid;
  	grid-template-columns: repeat(4,2fr);
	grid-gap: 10px;
}
	#grid-container > div {
		background-color: #21272b;
	}
	
#item1{
		grid-column: span 2;
}
#item2{
		grid-column: span 2;
		overflow: visible;
		margin-top: 0px;
		padding-top: 0px;
}

#weather {
	background-color: #222222;
	overflow: visible;
	margin: 1px;
	overflow: overflow;
}
    #map{
		color: black;
      height:520px;
      width:100%;
    }